.search-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.search-box {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.search-box input {
  width: 100%;
  padding: 12px 20px;
  background: #353535; /* Fondo oscuro translúcido */
  border: 0px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px; /* Bordes redondeados tipo píldora */
  color: white;
  font-size: 14px;
  font-family: Poppins;
  outline: none;
  transition: all 0.3s ease;
}

.search-box input:focus {
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
